@model ChooseEvent2.ViewModels.IndexGigsViewModel
@{
    ViewBag.Title = "Home Page";
}

<h2>@Model.Heading</h2>
<br/>

    @using (Html.BeginForm("Search", "Gigs"))
    { 
            <div class="form-group">
                <div class="input-group" id="searchGigs">
                    @Html.TextBoxFor(a => a.Search, new { @class = "form-control", placeholder = "Search by Arist/Genre/Venue" })
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>
                </div>
            </div>
        }
    <ul class="gigs">
        @foreach (var gig in Model.UpcomingGigs)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @gig.DateTime.ToString("MMM")
                    </div>
                    <div class="day">
                        @gig.DateTime.ToString("d ")
                    </div>
                </div>
                <div class="details">
                    <span class="artist">
                        <a href="@Url.Action("Info", "Gigs", new { gig.Id})">@gig.Artist.Name</a>
                        @if (Model.Authorized && !gig.IsCancelled)
                        {
                            if (gig.Artist.Followees.Any(e => e.FolloweeId == Model.UserId))
                            {
                                <button data-user-id="@gig.ArtistId" class="btn btn-default btn-sm pull-right js-toggle-unfollow">Unfollow</button>
                            }
                            else
                            {
                                <button data-user-id="@gig.ArtistId" class="btn btn-link btn-sm pull-right js-toggle-follow">Follow</button>
                            }

                        }

                        @if (gig.IsCancelled)
                        {
                            <span class="label label-warning">Cancelled</span>
                        }
                    </span>
                    <span class="genre">
                        @gig.Genre.Name
                        @if (Model.Authorized && !gig.IsCancelled)
                        {
                            if (gig.Attendances.Any(a => a.AttendeeId == Model.UserId))
                            {
                                <button class="btn btn-info btn-sm pull-right ">Going</button>
                            }
                            else
                            {
                            <button data-gig-id="@gig.Id" class="btn btn-default btn-sm pull-right js-toggle-attendance">Going ?</button>}
                        }

                    </span>
                </div>
                <br />
            </li>
        }

    </ul>

@section scripts
{
    <script>
        $(document).ready(function() {
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api/attendances", { gigId: button.attr("data-gig-id")})
                    .done(function () {
                        button
                            .removeClass("btn-defult")
                            .addClass("btn-info")
                            .text("Going");
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });

            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                $.post("/api/relationships/follow", { FollowerId: button.attr("data-user-id") })
                    .done(function () {
                        button
                            .text("Unfollow");
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });

            $(".js-toggle-unfollow").click(function (e) {
                var button = $(e.target);
                $.post("/api/relationships/unfollow", { FollowerId: button.attr("data-user-id") })
                    .done(function () {
                        button
                            .text("follow");
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });
        });
    </script>
}

