@model ChooseEvent2.ViewModels.InfoViewModel

@{
    ViewBag.Title = "Info";
}

<div>
    <h2>
        @Model.Artist.Name
        @if (User.Identity.IsAuthenticated)
        {
            <button data-user-id="@Model.Artist.Id" class="btn @(Model.relationship.Any(f =>f.FollowerId == Model.Artist.Id && f.FolloweeId == Model.UserId)? "btn-info" : "btn-default") js-toggle-follow">Following</button>
        }

    </h2>

    <p>Performing at @Model.Vanue on @Model.DateTime.ToString("dd MMM HH:mm")</p>
    @if (User.Identity.IsAuthenticated && Model.Attending)
    {
        <p>You are going to this event.</p>
    }


</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            RelationshipController.followToggle();
        });
    </script>
}

